*{
    margin:0;
}
a{
    text-decoration: none;
}

body{
    padding: 0;
    margin: 0;
    font-family: Playfair Display;
}

header{
    background-color: #ECD8D8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 47px;
    padding-left: 47px;
}
.div1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav{
    display: flex;
    gap: 24px;
}
.div2{
    display: flex;
    align-items: center;
    gap: 28px;
    padding-left: 10px;
}
.div3{
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 120px;
    line-height: 110px;
    letter-spacing: 0.25em;
    width: 100%;
}

.image{
    height: 90vh;
    background-image: url(img/image\ 2\ \(2\).png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}


.title{
    margin-top: 50px;
    text-align: center;
}

.text1{
    margin-top: 100px;
    width: 40%;
    align-self: start;
    margin-left: 30px;
}

.text2{
    margin-top: 110px;
    width:40%;
    margin-left: 950px;
}

.item{
    width: 25%;
    background-color: #9F9B9B;
}

.item_img{
    padding:22px;
    text-align: center;
    font-size: 24px;
}

.item img{
    width: 100%;
    height: 390px;
}

.pr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #8d8080;
}

.items{
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.catalog{
    background-color:#ECD8D8;
}

footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.foot_text{
    width: 40%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:30px;

}
.b{
    font-weight: 500;
}

.footer_btns{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer{
    background-color: #B1A0A0;
}
